<style>
    .Wrap{
        width: 80%;
        margin: 3px auto ;
    }
    .grid{
        border: 1px solid gray;
        padding: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
</style>
{%extends 'base.html'%}
 {%block content%}
<!-- Page Content-->
<div class="Wrap">
    <!-- Content Row-->
    {% if content_list %}
    {% for content in content_list %}
            <div class="grid">
                <div class="card-body">
                    <h2 class="card-title">{{ content.title }}</h2>
                    <p class="card-text">{{ content.content | truncatewords:30}}</p>
                </div>
            </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="{% url 'detail' content.id%}">상품 상세보기</a>
                </div>
    {% endfor %}
    {% else %}
    <p>content 가 없습니다.</p>
    {% endif %}
</div>
 {%endblock%}